@import "../../index.scss";

main#main-profile {
  max-width: $Max-width;
  width: 100%;
  margin: auto;
  padding: 5px;

  div#username-profile {
    margin-top: 70px;
    padding: 5px;
    padding-top: 50px;

    #back-arrow {
      text-decoration: none;
      color: $Black-color;

      #back-arrow-profile {
        font-size: 3em;
        &:hover {
          transform: translateX(-5px);
        }
      }
    }

    h1#user-profile {
      text-align: center;
      font-weight: 200;
      font-size: 3em;
    }
  }

  section#dados-profile {
    display: flex;
    margin-top: 100px;
    gap: 20px;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
    }

    div#options-profile {
      flex: 1;
      min-width: 250px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 7px;

      @media only screen and (max-width: 700px) {
        flex-direction: row;
        justify-content: space-around;
        padding: 0px;
        margin-bottom: 10px;
        gap: 10px;
      }

      div.content-li-profile {
        display: flex;
        align-items: center;

        input#check-one-profile,
        input#check-two-profile,
        input#check-three-profile {
          position: relative;
          visibility: hidden;

          &::before {
            content: "";
            background: $Secondary-color;
            border-radius: 15px;
            height: 50px;
            width: 50px;
            position: absolute;
            bottom: -19px;
            left: 0px;
            z-index: -1;
            transition: all 0.5s ease-in-out;
            visibility: visible;
            cursor: pointer;

            @media only screen and (max-width: 700px) {
              width: 2px;
              height: 30px;
              bottom: -9px;
            }
          }

          &:active::before {
            transform: scaleX(0);
          }

          &:hover::before {
            width: 230px;
            @media only screen and (max-width: 700px) {
              width: 30px;
            }
          }

          &:checked::before {
            width: 230px;
            background: $Primary-color;
            @media only screen and (max-width: 700px) {
              width: 30px;
            }
          }
        }

        > label {
          text-transform: uppercase;
          padding: 10px;
          padding-left: 50px;
          cursor: pointer;
          width: 100%;

          @media only screen and (max-width: 700px) {
            padding: 0;
          }
        }
      }
    }

    div#show-profile {
      display: flex;
      flex-direction: column;
      flex: 2;
      gap: 20px;
      overflow-y: scroll;
      max-height: 600px;
      padding: 0 10px 10px 10px;
      box-shadow: 0 10px 15px 0 #00000015;
      border-radius: 15px 0 0 15px;

      &::-webkit-scrollbar {
        display: flex;
        width: 10px;
        border: 1px solid $Secondary-color;
        border-radius: 0 5px 5px 0;
      }

      &::-webkit-scrollbar-thumb {
        background: $Secondary-color;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $Primary-color;
      }
    }
  }

  section#veja-mais-profile {
    margin-top: 100px;
    > h1 {
      text-align: center;
      font-size: 2.4em;
    }
  }
}
