@import "../../index.scss";

div.content-cards-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 70px;

  div.row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;

    padding-bottom: 20px;
    overflow-x: scroll;

    // &::-webkit-scrollbar-thumb {
    //   background: $Secondary-color;
    //   border-radius: 15px;
    // }
    &::-webkit-scrollbar {
      background: transparent;
      height: 5px;
    }
  }
}

@keyframes moveSlideshow {
  to {
    transform: translateX(-20px);
  }
}
