@import "../../index.scss";

section#content-title-home {
  margin-top: 72px;
  padding: 70px;

  h1#title-home {
    text-align: center;
    font-family: $Primary-font;
    letter-spacing: 3px;
    font-size: 4.5rem;
    font-weight: normal;
  }
}

section#content-banner-home {
  max-width: $Max-width;
  width: 100%;

  margin: auto;
  padding: 5px;

  img#banner-home {
    width: 100%;
    height: 100%;
  }
}

section#content-destaques-home {
  max-width: $Max-width;
  width: 100%;
  padding: 5px;
  padding-top: 50px;
  margin: auto;

  h2#content-title-destaque {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
  }
}