@import "../../index.scss";

form#form-data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;

  fieldset.fieldset-data {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background: #ededed;

    div.content-inputs {
      display: flex;
      justify-content: space-between;
      gap: 50px;

      @media only screen and (max-width: 870px) {
        flex-direction: column;
        gap: 35px;
      }
    }

    div.content-data {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      &:focus-within > label {
        bottom: 35px;
        cursor: default;
      }

      .focus {
        bottom: 35px;
        cursor: default;
      }

      > label {
        position: absolute;
        bottom: 5px;
        left: 9px;
        color: $Primary-color;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
        cursor: text;
      }

      input.input-data {
        border: none;
        border-bottom: 1px solid;
        padding: 20px 5px 5px 10px;
        outline: none;
        border-radius: 4px;
        font-size: 1em;
        background: transparent;

        &:focus {
          border-bottom: 1px solid $Primary-color;
        }
      }

      span#senha-data {
        margin-top: 5px;
        border-radius: 4px;
        border: 1px solid;
        padding: 10px;
        cursor: pointer;
        font-size: 1em;
        text-align: center;

        &:hover {
          border: 1px solid $Secondary-color;
          background: $Secondary-color;
        }

        &:active{
          transform: scale(0.9);
          background: $Primary-color;
        }

      }
    }
  }

  input[type="submit"] {
    border: none;
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    background: $Secondary-color;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      filter: invert(0.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
